@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to SELENA</h1>
    <br />
    <h2 class="display-7">SENTRALISASI PENGELOLAAN NASABAH</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p style="font-size:large"> Brought to you by </p>
    <p style="font-size:large">PT Bank Maju Mundur Tbk</p>
    <p style="font-size:medium">Irsyad Aslam</p>
</div>
